.post {
    background-color: $white;
    padding: 15px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 0.5s;
    &__header {
        display: flex;
        margin-bottom: 10px;
    }
    &__info {
        margin-left: 10px;
        margin-top: 5px;
        p {
            font-size: 12px;
            color: rgb(105, 105, 105);
        }
        h2 {
            font-size: 15px;
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-evenly;
        font-size: 18px;
        align-items: center;
    }
    &__body {
        overflow-wrap: anywhere;
        p {
            font-size: 12;
            padding: 10px 10px;
            border-radius: 10px;
            margin: 0 15px;
        }
    }
    &__avatar {
        border-radius: 35%;
        overflow: hidden;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
    }
}